<section class="bs-hero"
 style="background-image: url('/assets/images/hero.jpg')">
    <div class="bs-container">
    <figure  class="bs-deal">
        <img src="/assets/images/deal.png" class="bs-deal__info">
        <figcaption class="bs-deal__info">
            <em class="bs-deal__tag">back to school</em>
            <h3 class="bs-deal__title">special 50% off</h3>
            <p class="bs-deal__text">for our student community</p>
            <a href="#" class="bs-deal__cta btn btn-primary">
                get the deal
            </a>
        </figcaption>
    </figure>
    </div>
</section>