.bs-shop-features{
  background: var(--light);
  display: flex;
  align-items: center;
  &__list{
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
  }
  &__item{
    border: 1px solid var(--border);
    &+&{
      border-width: 1px 1px 1px 0;
    }
  }
  &__feature{
    display: flex;
    align-items: center;
    margin:0;
    padding:1em;
    figcaption{
      margin-left:24px;
    }
  }
}
