<nav class="bs-shop-features">
    <div class="bs-container">
        <ul class="bs-shop-features__list">
            <li class="bs-shop-features__item" *ngFor="let feature of features">
                <figure class="bs-shop-features__feature">
                    <fa-icon [icon]="feature.icon" size="2x"></fa-icon>
                    <figcaption>
                        <h4>{{feature.name}}</h4>
                        <p>{{feature.text}}</p>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</nav>