<section class="bs-admin-books">
    <div class="bs-container">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Precio</th>
                <th>Fecha publicación</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody *ngFor="let book of books">
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.price}}</td>
                <td>{{book.publishedDate | date}}</td>
                <td>
                    <a routerLink="/admin-book/edit" class="btn btn-info">Edit</a>
                    <button class="btn btn-danger" (click)="removeBook(book.id)">Delete</button>
                </td>
            </tbody>
        </table>
    </div>
</section>
