<section class="bs-admin-book">
    <div class="bs-container">
        <div class="card">
            <div class="card-header">
                <h3>Edit</h3>
            </div>
            <div class="card-body">
                <form #formCtrl="ngForm" (ngSubmit)="save(formCtrl)">
                    <div class="form-group">
                        <label for="book-title">Title</label>
                        <input class="form-control" id="book-title"
                               name="title" [(ngModel)]="book.title" #titleField="ngModel" required>
                        <div *ngIf="titleField.touched && titleField.errors" class="invalid-feedback">
                            <div *ngIf="titleField.errors.required">Es requerido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="book-author">Author</label>
                        <input class="form-control" id="book-author"
                               name="author" [(ngModel)]="book.author" #authorField="ngModel" required>
                        <div *ngIf="authorField.touched && authorField.errors" class="invalid-feedback">
                            <div *ngIf="authorField.errors.required">Es requerido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="book-price">Price</label>
                        <input class="form-control" id="book-price"
                               name="price" [(ngModel)]="book.price" #priceField="ngModel" required>
                        <div *ngIf="priceField.touched && priceField.errors" class="invalid-feedback">
                            <div *ngIf="priceField.errors.required">Es requerido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="book-reviews">Reviews</label>
                        <input class="form-control" id="book-reviews"
                               name="reviews" [(ngModel)]="book.reviews" #reviewsField="ngModel" required>
                        <div *ngIf="reviewsField.touched && reviewsField.errors" class="invalid-feedback">
                            <div *ngIf="reviewsField.errors.required">Es requerido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="book-rating">Rating</label>
                        <input class="form-control" id="book-rating"
                               name="rating" [(ngModel)]="book.reviews" #ratingField="ngModel" required>
                        <div *ngIf="ratingField.touched && ratingField.errors" class="invalid-feedback">
                            <div *ngIf="ratingField.errors.required">Es requerido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
