<section class="bs-logout">
    <div class="bs-container">
        <div class="card">
            <div class="card-header">
                <h3>Logout</h3>
            </div>
            <div class="card-body">
                <h3>Usuario {{userProfile.name}}</h3>
                <p>Desea cerrar la sesión?</p>
                <div class="form-group">
                    <button class="btn btn-success" (click)="logout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
</section>