<section class="bs-book-detail">
    <div class="bs-container">
        <app-book *ngIf="book$ | async as book" [book]="book">
            <form action="" class="bs-book-detail__form">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-danger" type="button" (click)="decrementQty()" >-</button>
                    </div>
                    <input type="number"name="qty" class="form-control" placeholder="" [(ngModel)]="quantity" >
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-success" type="button" (click)="incrementQty()">+</button>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Add to Cart</button>
            </form>
        </app-book>
    </div>
</section>

