<figure class="bs-book">
    <img [src]="book.image" [alt]="book.title" class="bs-book__image"/>
    <figcaption class="bs-book__info">
        <h3 class="bs-book__title">{{book.title}}</h3>
        <p class="bs-book__author">{{book.author}}</p>
        <div class="bs-book__details">
            <span class="bs-book__price">{{book.price | currency:'$'}}</span>
            <span class="bs-book__reviews" >{{book.reviews}}</span>
            <span class="bs-book__rating" >
                                <app-rating [value]="book.rating"></app-rating>
                            </span>
        </div>
        <p class="bs-book__date">{{book.publishedDate | date:'yyyy-MM'}}</p>
        <p class="bs-book__desc">{{book.description}}</p>

        <ng-content></ng-content>

    </figcaption>
</figure>